@import '../../variables.scss';
@import '../../reset.scss';

.home-page {
  .top-section {
    position: relative;
    height: 720px;
    background-image: linear-gradient(0deg, $startColor 0%, $endColor 100%);
    .vertical-middle {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      padding: 0 20px;
    }
    .product-name {
      position: relative;
      display: inline-block;
      h2 {
        font-family: Avenir-Heavy;
        font-size: 46px;
        color: #FFF;
        text-align: center;
        word-break: break-word;
        margin: 0;
      }
    }
    .product-desc {
      opacity: 0.6;
      font-family: Avenir-Medium;
      font-size: 24px;
      color: #FFF;
      text-align: center;
      margin: 12px auto 0;
      max-width: 730px;
    }
    .button-area {
      text-align: center;
      margin-top: 40px;
      .button {
        margin-right: 20px;
      }
      .button:last-child {
        margin-right: 0;
      }
    }
    .sentinel-img {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 568px;
    }
  }
  .introduction-section {
    background: #F9FAFA;
    .introduction-body {
      max-width: $contentWidth;
      box-sizing: border-box;
      margin: 0 auto;
      min-height: 640px;
      padding: 0 40px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .introduction {
        display: inline-block;
        width: calc(100% - 726px);
        min-width: 300px;
        max-width: 590px;
        h3 {
          font-family: Avenir-Heavy;
          font-size: 36px;
          color: #333;
          margin-bottom: 40px;
          word-break: break-word;
        }
        p {
          opacity: 0.56;
          font-family: Avenir-Medium;
          font-size: 18px;
          color: #999;
        }
      }
      img {
        width: 562px;
        margin: 0 82px;
        max-width: 100%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
      }
      @media screen and (max-width: 1106px){
        .introduction {
          display: inline-block;
          width: 100%;
          max-width: 100%; 
        }
        img {
          margin: 0;
        }
      }
    }
  }
  .feature-section {
    box-sizing: border-box;
    max-width: $contentWidth;
    margin: 0 auto;
    position: relative;
    padding: 80px 40px 40px;
    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin: 0 0 40px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        vertical-align: top;
        display: inline-block;
        margin-bottom: 40px;
        width: 50%;
        img {
          vertical-align: top;
          width: 48px;
          height: 48px;
          margin-right: 20px;
        }
        div {
          display: inline-block;
          width: 80%;
          h4 {
            font-family: Avenir-Heavy;
            font-size: 20px;
            color: #333;
            margin-top: 10px;
          }
          p {
            font-family: Avenir-Medium;
            font-size: 14px;
            line-height: 20px;
            color: #999;
          }
        }
      }
      @media screen and (max-width: 768px){
        li {
          width: 100%;
        }
      }
    }
  }
  .start-section {
    background-image: linear-gradient(0deg, $startColor 0%, $endColor 100%);
    .start-body {
      max-width: $contentWidth;
      margin: 0 auto;
      box-sizing: border-box;
      height: 260px;
      padding: 35px 40px;
      position: relative;
      .left-part {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        h3 {
          font-family: Avenir-Heavy;
          font-size: 36px;
          color: #FFF;
          margin: 0;
        }
        p {
          opacity: 0.8;
          font-family: Avenir-Medium;
          font-size: 18px;
          color: #FFF;
          line-height: 24px;
          margin: 6px 0 12px;
        }
        a {
          font-family: Avenir-Heavy;
          font-size: 14px;
          color: $brandColor;
          text-align: center;
          display: inline-block;
          width: 140px;
          height: 48px;
          line-height: 48px;
          background: #FFF;
          border-radius: 4px;
        }
      }
      .right-part {
        display: inline-block;
        width: 50%;
        font-size: 0;
        margin-top: 15px;
        img {
          margin-left: 5%;
          width: 500px;
        }
      }
      @media screen and (max-width: 1050px){
        & {
          height: 474px;
        }
        .left-part {
          width: 100%;
        }
        .right-part {
          width: 100%;
          margin-top: 38px;
          img {
            max-width: 100%;
            margin-left: 0;
          }
        }
      }
    }
  }
  .users-section {
    box-sizing: border-box;
    max-width: $contentWidth;
    margin: 0 auto;
    padding: 80px 40px 40px;
    position: relative;
    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-bottom: 40px;
    }
    p {
      font-family: Avenir-Medium;
      font-size: 14px;
      color: #666;
      text-align: center;
      margin: 0 0 40px;
      a {
        color: #1e6bb8;
        text-decoration: none;
      }
    }
    .users {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-between;
      display: inline-block;
      text-align: center;
      img {
        margin-right: 10px;
        width: 140px;
        height: 80px;
        margin-bottom: 40px;
      }
    }
  }
  @media screen and (max-width: $mobileWidth) {
    .introduction-section {
      padding: 0 20px;
      &::before {
        left: 20px;
      }
      &::after {
        left: 19px;
      }
    }
    .feature-section, .users-section {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}